*.pkl filter=lfs diff=lfs merge=lfs -text
Pre-trained filter=lfs diff=lfs merge=lfs -text
Models/RandForest.pkl filter=lfs diff=lfs merge=lfs -text
Pre-trained[[:space:]]Models/** filter=lfs diff=lfs merge=lfs -text
Pre-trained[[:space:]]Models/**/* filter=lfs diff=lfs merge=lfs -text
